<!doctype html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta name="language" content="english">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Katarzyna Krasińska - CV">
  <meta name="keywords" content="katarzyna krasińska, katheroine">
  <meta name="author" content="katheroine <katheroine@gmail.com>">
  <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
  <link type="text/css" rel="stylesheet" href="stylesheets/page.css">
  <title>Katarzyna Krasińska - CV</title>
</head>

<body>
    <section id="avers" class="page">
        <section id="header">
            <section id="heading">
                <section id="title">
                    <div id="person_name" href="http://linkedin.com/in/katarzyna-krasińska">{{ name }}</div>
                    <div id="document_name">CURRICULUM VITAE</div>
                </section>
                <section id="actions">
                    <a id="linkedin" class="trigger" href="{{ triggers.linkedin }}">{{ triggers.linkedin }}</a>
                    <a id="github" class="trigger" href="{{ triggers.github }}">{{ triggers.github }}</a>
                    <a id="email" class="trigger" href="mailto:{{ triggers.email }}">{{ triggers.email }}</a>
                    <span id="phone" class="trigger">{{ triggers.phone }}</span>
                </section>
            </section>
            <section id="photo">
                <img src="images/photo.jpeg">
            </section>
        </section>
        <section class="main">
            <section id="overview">
                {{ overview }}
            </section>
            <section id="experience" class="section">
                <h3>Work experience</h3>
                <ul class="timeline">
                    {% for experience in experiences %}
                    <li class="timeslot">
                        <h4>
                            <span class="time">{{ experience.time }}</span>
                            <span class="position">{{ experience.position }}</span>
                            in <span class="workplace">{{ experience.workplace }}</span>
                        </h4>
                        <ul class="responsibilities">
                            {% for responsibility in experience.responsibilities %}
                            <li>{{ responsibility.description }}
                                <span class="skills">
                                    {% for skill in responsibility.skills %}
                                    <span class="skill">{{ skill }}</span>
                                    {% endfor %}
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </section>
    </section>
    <section id="revers" class="page">
        <section class="main">
            <section id="education" class="section">
                <h3>Education</h3>
                <ul class="timeline">
                    <li class="timeslot">
                        <h4>
                            <span class="time">0000 - 0000</span>
                            <span class="subject">Some subject</span>
                            in <span class="academy">Some Academy</span>
                        </h4>
                        <div class="faculty">Some Faculty</div>
                        <div class="degree">Some degree</div>
                    </li>
                    <li class="timeslot">
                        <h4>
                            <span class="time">0000 - 0000</span>
                            <span class="subject">Some subject</span>
                            in <span class="academy">Some Academy</span>
                        </h4>
                        <div class="faculty">Some Faculty</div>
                        <div class="specialisation">specialization: <span>Some specialisation</span></div>
                        <div class="degree">Some degree</div>
                    </li>
                </ul>
            </section>
            <section id="skillset" class="section">
                <h3>Skills</h3>
                <div id="skillboard">
                    <div>
                        <section class="skillset_group">
                            <h4>Some topic</h4>
                            <ul>
                                <li class="skill">
                                    <a class="name" href="">Some skill</a>
                                    <span class="level">
                                        <span class="active">✤✤✤</span><span class="unactive">✤✤</span>
                                    </span>
                                </li>
                                <li class="skill">
                                    <span class="name">Some skill</span>
                                    <span class="level">
                                        <span class="active">✤✤✤</span><span class="unactive">✤✤</span>
                                    </span>
                                </li>
                                <li class="skill">
                                    <span class="name">Some skill</span>
                                    <span class="level">
                                        <span class="active">✤✤✤</span><span class="unactive">✤✤</span>
                                    </span>
                                </li>
                                <li class="skill">
                                    <a class="name" href="">Some skill</a>
                                    <span class="level">
                                        <span class="active">✤✤✤</span><span class="unactive">✤✤</span>
                                    </span>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div>
                        {% for skill in skills %}
                        <p>{{ skill }}</p>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </section>
        <section id="footer">
            <div id="rodo_compliance">
                I hereby give consent for my personal data included in my application to be processed for the purposes of the recruitment process<br>
                under the Personal Data Protection Act as of 29 August 1997, consolidated text: Journal of Laws 2016, item 922 as amended.
            </div>
        </section>
    </section>
</body>

</html>
