*
{
  margin: 0;
  padding: 0;
}

body
{
    background: #999999;
    margin: 0 auto;
    font-family: 'Sans';
}

.page
{
    background: white;
    display: block;
    margin: 0 auto;
    width: 21cm;
    height: 29.7cm;
}

#avers
{
    background-image: url('../images/avers.background.png');
}

#revers
{
    background-image: url('../images/revers.background.png');
}

#header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50.535mm;
    background-image: url('../images/avers.background.png');
    background-color: #153d3f;
}

#footer
{
    display: flex;
    height: 14.817mm;
    background-color: #153d3f;
}

#header,
#header a,
#footer
{
   color: #eeeeee;
   text-decoration: none;
}

#header a:hover
{
    text-decoration: underline;
}

#heading
{
    padding-left: 12.450mm;
}

#title
{
    padding-top: 9.958mm;
    font-family: 'URW Gothic';
}

#person_name
{
    display: block;
    font-size: 28pt;
    line-height: 28pt;
    text-decoration: none;
    color: #eeeeee;
}

#document_name
{
    margin-top: 2.126mm;
    font-size: 14pt;
    line-height: 14pt;
}

#actions
{
    width: 135mm;
    display: flex;
    flex-direction: row;
    column-gap: 3mm;
    flex-wrap: wrap;
    margin-top: 1mm;
    font-size: 9.5pt;
}

.trigger
{
    display: flex;
    flex-direction: row;
    column-gap: 1mm;
    align-items: center;
    margin: 1.8mm 0;
}

.trigger::before
{
    background-repeat: no-repeat;
    content: "";
}

#linkedin
{
    order: 1;
}

#linkedin::before
{
    background-image: url(../images/icons/linkedin_logo.svg);
    width: 5.292mm;
    height: 5.292mm;
    background-size: 5.292mm;
}

#github
{
    order: 3;
}

#github::before
{
    background-image: url(../images/icons/github_logo.svg);
    width: 5.292mm;
    height: 5.292mm;
    background-size: 5.292mm;
}

#email
{
    order: 4;
}

#email::before
{
    background-image: url(../images/icons/monkey_envelope.svg);
    width: 5.821mm;
    height: 4.366mm;
    background-size: 5.821mm;
}

#phone
{
    order: 2;
}

#phone::before
{
    background-image: url(../images/icons/receiver.svg);
    width: 5.292mm;
    height: 5.271mm;
    background-size: 5.292mm;
}

#photo
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60.854mm;
    height: 60.854mm;
    margin-top: 2.420mm;
    margin-right: 2.875mm;
    background-color: #153d3f;
    border-radius: 50%;
    background-image: url('../images/avers.background.png');
    background-position: top -2.420mm right -2.875mm;
}

#photo img
{
    display: block;
    width: 52.388mm;
    height: 52.388mm;
    border-radius: 50%;
    border: 1mm solid #eeeeee;
}

#rodo_compliance
{
    margin: 3.748mm 4.819mm;
    font-size: 9pt;
    font-family: 'Ubuntu';
}

.main
{
    /* opacity: 0.3; */
    padding: 0 11.778mm;
    color: #4d4d4d;
}

#avers .main
{
    /* background-color: aqua; */
    height: calc(29.7cm - 50.535mm);
}

#revers .main
{
    /* background-color: orange; */
    height: calc(29.7cm - 14.817mm);
}

#overview,
.section
{
    margin: 6.802mm 0;
}

#overview
{
    font-size: 11pt;
}

.timeline
{
    margin-left: 2.5mm;
    border-left: #ff7f2a 0.7mm dashed;
}

.section
{
    /* opacity: 0.3; */
    /* background-color: cornflowerblue; */
}

.section h3
{
    font-family: 'URW Gothic';
}

.section h3
{
    display: flex;
    flex-direction: row;
    column-gap: 2mm;
    align-items: center;
    margin: 6.802mm 0;
    /* line-height: 18pt; */
    font-size: 12pt;
    /* font-weight: bold; */
    text-transform: uppercase;
    color: #008080;
}

.section h3::before
{
    width: 6.350mm;
    height: 6.350mm;
    border-radius: 0.8mm;
    background-color: #004b3e;
    background-repeat: no-repeat;
    content: "";
}

#experience h3::before
{
    /* width: 4.498mm; */
    /* height: 4.048mm; */
    background-size: 4.233mm;
    background-image: url(../images/icons/suitcase.svg);
    background-position: center;
}

.timeslot
{
    list-style-position: outside;
    list-style-image: url(../images/quatrefoil.svg);
    margin-top: 4mm;
    margin-left: 3.2mm;
}

.timeslot h4
{
    /* display: inline; */
    font-family: 'URW Gothic';
    font-weight: normal;
}

.timeslot h4 .time
{
    font-weight: bold;
}

.timeslot h4 .position
{
    font-weight: bold;
    color: #008080;
}

.timeslot h4 .workplace
{
    font-weight: bold;
}

.timeslot ul.responsibilities
{
    list-style-position: inside;
    list-style-image: none;
    list-style-type: '✤ ';
    line-height: 18pt;
    font-size: 10pt;
}