*
{
  margin: 0;
  padding: 0;
}

body
{
    background: #999999;
    margin: 0 auto;
    font-family: 'Sans';
}

.page
{
    background: white;
    display: block;
    margin: 0 auto;
    width: 21cm;
    height: 29.7cm;
}

#avers
{
    background-image: url('../images/avers.background.png');
}

#revers
{
    background-image: url('../images/revers.background.png');
}

#header
{
    height: 50.535mm;
    padding: 0 12.450mm;
    background-image: url('../images/avers.background.png');
    background-color: #153d3f;
}

#header,
#header a
{
   color: #eeeeee;
   text-decoration: none;
}

#header a:hover
{
    text-decoration: underline;
}

#title
{
    padding-top: 9.958mm;
    font-family: 'URW Gothic';
}

#person_name
{
    display: block;
    font-size: 28pt;
    line-height: 28pt;
    text-decoration: none;
    color: #eeeeee;
}

#document_name
{
    margin-top: 2.126mm;
    font-size: 14pt;
    line-height: 14pt;
}

#actions
{
    width: 80%;
    display: flex;
    flex-direction: row;
    column-gap: 3mm;
    flex-wrap: wrap;
    margin-top: 1mm;
    font-size: 9.5pt;
}

.trigger
{
    display: flex;
    flex-direction: row;
    column-gap: 1mm;
    align-items: center;
    margin: 1.8mm 0;
}

.trigger::before
{
    background-repeat: no-repeat;
    content: "";
}

#linkedin
{
    order: 1;
}

#linkedin::before
{
    background-image: url(../images/icons/linkedin_logo.svg);
    width: 5.292mm;
    height: 5.292mm;
    background-size: 5.292mm;
}

#github
{
    order: 3;
}

#github::before
{
    background-image: url(../images/icons/github_logo.svg);
    width: 5.292mm;
    height: 5.292mm;
    background-size: 5.292mm;
}

#email
{
    order: 4;
}

#email::before
{
    background-image: url(../images/icons/monkey_envelope.svg);
    width: 5.821mm;
    height: 4.366mm;
    background-size: 5.821mm;
}

#phone
{
    order: 2;
}

#phone::before
{
    background-image: url(../images/icons/receiver.svg);
    width: 5.292mm;
    height: 5.271mm;
    background-size: 5.292mm;
}
