:root
{
    --page-width: 793.701px;
    --page-height: 1122.520px;

    --general-vertical-distance: 44px;

    --content-horizontal-distance: 22px;

    --header-height: 191px;
    --footer-height: 56px;

    --primary-color: #153d3f;
    --secondary-color: #fefefe;
    --terriary-color: #ff7f2a;

    --workspace-background-color: #000000;
    --baner-background-color: var(--primary-color);
    --main-background-color: var(--secondary-color);
    --baner-text-color: var(--secondary-color);
    --main-text-color: #4d4d4d;

    --icon-size: 24px;

    --timeline-axis-thickness: 2px;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    background: var(--workspace-background-color);
    margin: 0 auto;
    font-family: 'Sans';
}

.page
{
    background: var(--main-background-color);
    display: block;
    margin: 0 auto;
    width: var(--page-width);
    height: var(--page-height);
}

#avers
{
    background-image: url('../images/avers.background.png');
}

#revers
{
    background-image: url('../images/revers.background.png');
}

#header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--header-height);
    background-image: url('../images/avers.background.png');
    background-color: var(--baner-background-color);
}

#footer
{
    display: flex;
    height: var(--footer-height);
    background-image: url('../images/revers.background.png');
    background-position: bottom;
    background-color: var(--baner-background-color);
}

#header,
#header a,
#footer
{
   color: var(--baner-text-color);
   text-decoration: none;
}

#header a:hover
{
    text-decoration: underline;
}

#heading
{
    /* padding-left: 47px; */
    padding-left: var(--general-vertical-distance);
}

#title
{
    padding-top: 37.6px;
    font-family: 'URW Gothic';
}

#person_name
{
    display: block;
    line-height: 37.3px;
    font-size: 37.3px;
    text-decoration: none;
}

#document_name
{
    margin-top: 8px;
    font-size: 18.5px;
    line-height: 18.5px;
}

#actions
{
    width: 510px;
    display: flex;
    flex-direction: row;
    column-gap: 11px;
    flex-wrap: wrap;
    margin-top: 3.7px;
    font-size: 12.5px;
}

.trigger
{
    display: flex;
    flex-direction: row;
    column-gap: 3.7px;
    align-items: center;
    margin: 6.8px 0;
}

.trigger::before
{
    background-repeat: no-repeat;
    content: "";
}

#linkedin
{
    order: 1;
}

#linkedin::before
{
    background-image: url(../images/icons/linkedin_logo.svg);
    width: 20px;
    height: 20px;
    background-size: 20px;
}

#github
{
    order: 3;
}

#github::before
{
    background-image: url(../images/icons/github_logo.svg);
    width: 20px;
    height: 20px;
    background-size: 20px;
}

#email
{
    order: 4;
}

#email::before
{
    background-image: url(../images/icons/monkey_envelope.svg);
    width: 22px;
    height: 16.5px;
    background-size: 22px;
}

#phone
{
    order: 2;
}

#phone::before
{
    background-image: url(../images/icons/receiver.svg);
    width: 20px;
    height: 19.9px;
    background-size: 20px;
}

#photo
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 230px;
    margin-top: 8px;
    margin-right: 10px;
    background-color: var(--baner-background-color);
    border-radius: 50%;
    background-image: url('../images/avers.background.png');
    background-position: top -8px right -10px;
}

#photo img
{
    display: block;
    width: 198px;
    height: 198px;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
}

#rodo_compliance
{
    margin: 14.2px 18.2px;
    font-size: 12px;
    font-family: 'Ubuntu';
}

.main
{
    /* opacity: 0.3; */
    padding: 0 var(--general-vertical-distance);
    color: #4d4d4d;
}

#avers .main
{
    /* background-color: aqua; */
    height: calc(var(--page-height) - var(--header-height));
}

#revers .main
{
    /* background-color: orange; */
    height: calc(var(--page-height) - var(--footer-height));
}

.section
{
    /* opacity: 0.3; */
    /* background-color: cornflowerblue; */
}

#overview,
.section
{
    margin: var(--content-horizontal-distance) 0;
}

.section#education
{
    padding-top: 38px;
}

#overview
{
    font-size: 14.6px;
}

.timeline
{
    margin-left: calc(var(--icon-size) / 2 - var(--timeline-axis-thickness));
    border-left: var(--terriary-color) var(--timeline-axis-thickness) dotted;
}

.section h3
{
    font-family: 'URW Gothic';
}

.section h3
{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #008080;
}

.section h3::before
{
    margin-bottom: 4px;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 4px;
    background-color: #004b3e;
    background-repeat: no-repeat;
    content: "";
}

.section#experience h3::before
{
    background-position: center;
    background-image: url(../images/icons/suitcase.svg);
}

.section#education h3::before
{
    background-position: center 7px;
    background-image: url(../images/icons/student_hat.svg);
}

li.timeslot
{
    list-style-position: outside;
    /* list-style-image: url(../images/icons/quatrefoil.svg); */
    margin-top: 14px;
    margin-left: 7px;
    padding-left: 20px;
}

li.timeslot::marker
{
    content: url(../images/icons/quatrefoil.svg);
    size: 12px;
}

.timeslot h4
{
    font-family: 'URW Gothic';
    font-size: 16px;
    font-weight: normal;
}

.timeslot h4 .time
{
    font-weight: bold;
}

.timeslot h4 .position,
.timeslot h4 .subject
{
    font-weight: bold;
    color: #008080;
}

.timeslot h4 .workplace,
.timeslot h4 .academy
{
    font-weight: bold;
}

.timeslot .responsibilities,
.timeslot .faculty,
.timeslot .specialisation,
.timeslot .degree
{
    line-height: 24px;
    font-size: 13.3px;
}

.timeslot .specialisation > *,
.timeslot .degree
{
    font-weight: bold;
}

.timeslot ul.responsibilities
{
    list-style-position: inside;
    list-style-image: none;
    list-style-type: '✤ ';
}

.timeslot ul.responsibilities
{
    list-style-position: inside;
    list-style-image: none;
    list-style-type: '✤ ';
    line-height: 24px;
    font-size: 13.3px;
}

.timeslot .responsibilities .skill
{
    font-weight: bold;
}

.timeslot .responsibilities .skill::before,
.timeslot .responsibilities .skill::after
{
    font-weight: normal;
}

.timeslot .responsibilities .skill::after
{
    content: ",";
}

.timeslot .responsibilities .skill:first-of-type::before
{
    content: "(";
}

.timeslot .responsibilities .skill:last-of-type::after
{
    content: ")";
}
